.containeer {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    line-height: 2.5;
}

.containeer h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.containeer p {
    font-size: 22px;
    text-align: center;
}
.containeer i {
    font-size: 112px;
    text-align: center;
}